@import url(responsive.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section header */

.hero-banner {
  width: 100%;
  height: 100vh;
  background: url(image-header.jpg);
  background-size: cover;
  padding: 30px 50px;
  position: relative;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  margin-right: 50px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.btn {
  padding: 14px 24px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  font-size: 18px;
  font-family: "Fraunces";
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(0, 174, 255);
}

.hero-content h1 {
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 1.1rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section transform */

.transform {
  display: flex;
}

.transform-text-wrapper {
  flex: 1;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  background-color: #fffbf8;
}

.transform-text {
  padding: 10rem 6rem;
  width: 759px;
  height: 637px;
  position: relative;
}

.transform-text h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  color: #23303e;
  margin-bottom: 2rem;
}

.transform-text p {
  font-family: "Barlow";
  font-size: 1.3rem;
  line-height: 1.5;
  color: #99989e;
  margin-bottom: 2rem;
}

.transform-image {
  flex: 1;
}

.transform-image img {
  height: 100%;
  width: 100%;
}

.btn-primary {
  font-family: "Fraunces", serif;
  font-size: 1.4rem;
  padding: 0;
  text-decoration: none;
  z-index: 2;
  position: relative;
}

.transform-text span {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #fad400;
}

.underline {
  width: 160px;
  height: 10px;
  background-color: #fad400;
  border-radius: 10px;
  position: absolute;
  bottom: 30%;
}

/* Section Stand */

.stand {
  display: flex;
}

.stand-image {
  flex: 1;
}

.stand-image img {
  width: 100%;
  height: 100%;
}

.stand-text-wrapper {
  flex: 1;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fffbf8;
}

.stand-text {
  padding: 10rem 6rem;
  background-color: #fffbf8;
  width: 759px;
  height: 637px;
  position: relative;
}

.stand-text h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  color: #23303e;
  margin-bottom: 2rem;
}

.stand-text p {
  font-family: "Barlow";
  font-size: 1.3rem;
  line-height: 1.5;
  color: #99989e;
  margin-bottom: 2rem;
}

.underline-1 {
  width: 160px;
  height: 10px;
  background-color: #ff7364;
  border-radius: 10px;
  position: absolute;
  bottom: 30%;
}

/* section project */

.project {
  display: flex;
}

.project-1 {
  flex: 1;
  background-image: url(../images/image-graphic-design.jpg);
  height: 600px;
  background-size: cover;
  display: flex;
}

.project-1-text {
  margin: 25rem auto;
  box-sizing: border-box;
  text-align: center;
}

.project-1-text h1 {
  font-size: 2rem;
  font-family: "Fraunces";
  color: #25564d;
}

.project-1-text p {
  font-size: 1.2rem;
  font-family: "Barlow";
  color: #25564d;
  padding: 20px 10vw;
  line-height: 1.5;
}

.project-2 {
  flex: 1;
  height: 600px;
  background-image: url(../images/image-photography.jpg);
  display: flex;
  background-size: cover;
}

.project-2-text {
  margin: 25rem auto;
  text-align: center;
  box-sizing: border-box;
}

.project-2-text h1 {
  font-size: 2rem;
  font-family: "Fraunces";
  color: #212d3d;
}

.project-2-text p {
  font-size: 1.2rem;
  font-family: "Barlow";
  color: #212d3d;
  line-height: 1.5;
  padding: 20px 12vw;
}

/* section testimoni */
.testi {
  background-color: #fffbf8;
}
.testi h1 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Fraunces";
  color: #99989e;
  text-transform: uppercase;
  padding: 100px 0;
  font-weight: 900;
  letter-spacing: 5px;
}

.testi-container {
  display: flex;
  justify-content: space-evenly;
}

.testi-1,
.testi-2,
.testi-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  margin-bottom: 150px;
}

.testi-1 img,
.testi-2 img,
.testi-3 img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
}

.testi-text {
  font-size: 1rem;
  font-family: "Barlow", serif;
  color: #99989e;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.testi-name {
  font-size: 1rem;
  font-family: "Fraunces";
  font-weight: 900;
  color: #212d3d;
  margin-bottom: 0.5rem;
}

.testi-job {
  font-family: "Barlow";
  font-size: 1rem;
  color: #99989e;
}

.gallery-images {
  display: flex;
}

.gallery-images-1,
.gallery-images-2,
.gallery-images-3,
.gallery-images-4 {
  width: 25%;
  flex: 1;
}

.footer {
  height: 50vh;
  background-color: #458c70;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-wrapper img {
  padding-top: 10vh;
  color: #25564b;
}

.footer-list {
  margin-top: 5vh;
  list-style: none;
  display: flex;
}

.footer-item {
  font-size: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-link {
  text-decoration: none;
  color: #25564b;
  font-family: "Barlow";
}
.footer-media {
  margin: auto;
  display: flex;
  font-size: 3rem;
}

.footer-logo {
  padding-left: 10px;
  padding-right: 10px;
}
